include ./button

mixin card (name, desc, price, preview)
    div(class='tw-column-start tw-w-auto tw-gap-5')
        img(
            src=preview
            alt=''
            class='tw-w-full tw-h-[420px] min-[1440px]:tw-h-[480px] tw-object-cover tw-object-top tw-rounded-[20px]'
        )

        div(class='tw-column-start tw-w-full tw-gap-4')
            div(class='tw-column-start tw-w-full tw-gap-1')
                span(
                    class='tw-text-lg tw-font-light tw-text-text/default tw-truncate tw-w-full'
                    title=name
                )=name
                span(class='tw-text-base tw-font-thin tw-text-text/default')=desc

            div(class='tw-flex tw-items-center tw-justify-between tw-w-full')
                span(class='tw-text-lg tw-font-light tw-text-text/default')=price
                +button('В корзину')
