footer(class='tw-flex tw-justify-center un-container tw-w-full tw-mt-auto tw-px-4 min-[920px]:tw-px-16 tw-bg-gray/base')
    div(class='tw-flex tw-flex-col min-[1180px]:tw-flex-row tw-items-start min-[1180px]:tw-items-center tw-justify-between tw-w-full tw-max-w-[1920px] tw-gap-20 min-[1180px]:tw-gap-0')
        div(class='tw-column-center tw-w-auto tw-gap-1')
            h2(class='tw-text-[32px] tw-font-normal tw-text-text-default tw-uppercase tw-tracking-widest') unostoria
            span(class='tw-text-sm tw-font-light tw-text-text-default') Saint-Petersburg

        div(class='tw-grid tw-grid-cols-2 min-[920px]:tw-flex tw-flex-row tw-items-start tw-w-auto tw-gap-8 min-[920px]:tw-gap-16')
            div(class='tw-column-start tw-w-auto tw-gap-4')
                span(class='tw-text-lg [@media(min-width:1920px)]:tw-text-xl tw-font-normal tw-text-text/default') Меню

                div(class='tw-column-start tw-w-auto tw-gap-3')
                    a(
                        href='/catalogue'
                        class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default'
                    ) Каталог

                    a(
                        href='/#about'
                        class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default'
                    ) О нас

                    a(
                        href='/#contacts'
                        class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default'
                    ) Контакты

                    a(
                        href='/cart'
                        class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default'
                    ) Корзина

            div(class='tw-column-start tw-w-auto tw-gap-4')
                span(class='tw-text-lg [@media(min-width:1920px)]:tw-text-xl tw-font-normal tw-text-text/default') Соц сети

                div(class='tw-column-start tw-w-auto tw-gap-3')
                    a(
                        href=''
                        class='tw-flex tw-items-center tw-gap-2'
                    )
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.27998 0.973145C4.21896 0.973145 0.919983 4.27212 0.919983 8.33314C0.919983 12.3942 4.21896 15.6931 8.27998 15.6931C12.341 15.6931 15.64 12.3942 15.64 8.33314C15.64 4.27212 12.341 0.973145 8.27998 0.973145ZM8.27998 1.61314C11.9951 1.61314 15 4.618 15 8.33314C15 12.0483 11.9951 15.0531 8.27998 15.0531C4.56484 15.0531 1.55998 12.0483 1.55998 8.33314C1.55998 4.618 4.56484 1.61314 8.27998 1.61314ZM11.1881 4.82439C10.9692 4.82439 10.7233 4.87509 10.4356 4.97877C9.98889 5.13973 4.73462 7.37063 4.13686 7.62439C3.7951 7.76967 3.15873 8.03991 3.15873 8.68439C3.15873 9.11159 3.40906 9.41714 3.90186 9.59314C4.16682 9.68754 4.79611 9.87829 5.16123 9.97877C5.31611 10.0213 5.4807 10.0431 5.64998 10.0431C5.98118 10.0431 6.31449 9.96062 6.57561 9.81502C6.57337 9.86878 6.57483 9.92312 6.58123 9.97752C6.62059 10.3135 6.82778 10.6295 7.13498 10.8231C7.33594 10.9499 8.97736 12.0497 9.22248 12.2244C9.5668 12.4705 9.94744 12.6006 10.3225 12.6006C11.0393 12.6006 11.2798 11.8605 11.3956 11.505C11.5636 10.9889 12.1927 6.79143 12.2637 6.05127C12.3121 5.54407 12.1007 5.12641 11.6981 4.93377C11.5474 4.86113 11.3753 4.82439 11.1881 4.82439ZM11.1881 5.46439C11.2761 5.46439 11.3547 5.47895 11.4212 5.51127C11.5726 5.58391 11.6496 5.74584 11.6262 5.99064C11.5488 6.798 10.9212 10.896 10.7875 11.3069C10.6729 11.6583 10.5522 11.9606 10.3225 11.9606C10.0927 11.9606 9.84172 11.8801 9.59436 11.7031C9.347 11.5265 7.70439 10.4249 7.47623 10.2813C7.27623 10.1552 7.06456 9.84089 7.36248 9.53689C7.60792 9.28665 9.46969 7.47968 9.62873 7.32064C9.74713 7.20192 9.69177 7.05877 9.57561 7.05877C9.53561 7.05877 9.48771 7.07563 9.43811 7.11627C9.24355 7.27531 6.53111 9.09035 6.29623 9.23627C6.14071 9.33291 5.8999 9.40252 5.64998 9.40252C5.54342 9.40252 5.43554 9.38975 5.33186 9.36127C4.9709 9.26175 4.36004 9.07642 4.11748 8.99002C3.8842 8.90682 3.79936 8.82711 3.79936 8.68439C3.79936 8.48151 4.08572 8.34146 4.38748 8.21314C4.7062 8.07778 10.2211 5.73584 10.6525 5.58064C10.8522 5.50832 11.0348 5.46439 11.1881 5.46439Z" fill="#303030"/>
                        </svg>

                        p(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') Telegram

                    a(
                        href=''
                        class='tw-flex tw-items-center tw-gap-2'
                    )
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.07998 0.293213C2.78638 0.293213 0.919983 2.15961 0.919983 4.45321V10.2132C0.919983 12.5068 2.78638 14.3732 5.07998 14.3732H10.84C13.1336 14.3732 15 12.5068 15 10.2132V4.45321C15 2.15961 13.1336 0.293213 10.84 0.293213H5.07998ZM5.07998 0.933213H10.84C12.7877 0.933213 14.36 2.50554 14.36 4.45321V10.2132C14.36 12.1609 12.7877 13.7332 10.84 13.7332H5.07998C3.13231 13.7332 1.55998 12.1609 1.55998 10.2132V4.45321C1.55998 2.50554 3.13231 0.933213 5.07998 0.933213ZM11.8 2.85321C11.6302 2.85321 11.4675 2.92064 11.3474 3.04066C11.2274 3.16069 11.16 3.32347 11.16 3.49321C11.16 3.66295 11.2274 3.82574 11.3474 3.94576C11.4675 4.06578 11.6302 4.13321 11.8 4.13321C11.9697 4.13321 12.1325 4.06578 12.2525 3.94576C12.3726 3.82574 12.44 3.66295 12.44 3.49321C12.44 3.32347 12.3726 3.16069 12.2525 3.04066C12.1325 2.92064 11.9697 2.85321 11.8 2.85321ZM7.95998 3.81321C6.01973 3.81321 4.43998 5.39296 4.43998 7.33321C4.43998 9.27347 6.01973 10.8532 7.95998 10.8532C9.90024 10.8532 11.48 9.27347 11.48 7.33321C11.48 5.39296 9.90024 3.81321 7.95998 3.81321ZM7.95998 4.45321C9.55435 4.45321 10.84 5.73884 10.84 7.33321C10.84 8.92758 9.55435 10.2132 7.95998 10.2132C6.36561 10.2132 5.07998 8.92758 5.07998 7.33321C5.07998 5.73884 6.36561 4.45321 7.95998 4.45321Z" fill="#303030"/>
                        </svg>

                        p(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') Instagram

                    a(
                        href=''
                        class='tw-flex tw-items-center tw-gap-2'
                    )
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.27998 0.973145C4.21903 0.973145 0.919983 4.2722 0.919983 8.33314C0.919983 9.63846 1.27796 10.8566 1.87498 11.92L0.931858 15.2869C0.916791 15.3408 0.91611 15.3977 0.929883 15.4519C0.943657 15.5061 0.971404 15.5558 1.01036 15.5959C1.04931 15.6361 1.09811 15.6653 1.15189 15.6807C1.20567 15.6961 1.26255 15.6972 1.31686 15.6838L4.82748 14.8138C5.85906 15.3645 7.02961 15.6931 8.27998 15.6931C12.3409 15.6931 15.64 12.3941 15.64 8.33314C15.64 4.2722 12.3409 0.973145 8.27998 0.973145ZM8.27998 1.61314C11.995 1.61314 15 4.61809 15 8.33314C15 12.0482 11.995 15.0531 8.27998 15.0531C7.08895 15.0531 5.97346 14.7426 5.00373 14.2C4.93281 14.1604 4.84947 14.1492 4.77061 14.1688L1.69623 14.9306L2.52061 11.9894C2.5324 11.9478 2.53566 11.9043 2.53018 11.8614C2.5247 11.8186 2.5106 11.7773 2.48873 11.74C1.8994 10.7407 1.55998 9.57798 1.55998 8.33314C1.55998 4.61809 4.56493 1.61314 8.27998 1.61314ZM5.60561 4.49314C5.40048 4.49314 5.10752 4.56946 4.86686 4.82877C4.72231 4.98452 4.11998 5.57139 4.11998 6.60314C4.11998 7.67883 4.86603 8.60702 4.95623 8.72627C4.94768 8.71502 5.07135 8.89385 5.23561 9.10752C5.39986 9.32119 5.62955 9.60183 5.91811 9.90564C6.49522 10.5133 7.30663 11.2155 8.31373 11.645C8.77751 11.8425 9.1434 11.9618 9.42061 12.0488C9.93433 12.2101 10.4022 12.1856 10.7537 12.1338C11.0168 12.095 11.3062 11.9687 11.5925 11.7875C11.8788 11.6063 12.1594 11.3811 12.2831 11.0388C12.3717 10.7934 12.4168 10.5666 12.4331 10.38C12.4413 10.2867 12.4423 10.2044 12.4362 10.1281C12.4302 10.0519 12.4366 9.99352 12.3656 9.87689C12.2166 9.63228 12.0479 9.6259 11.8719 9.53877C11.774 9.49036 11.4956 9.35437 11.2162 9.22127C10.9372 9.08832 10.6956 8.97057 10.5469 8.91752C10.4529 8.8837 10.3381 8.83502 10.1725 8.85377C10.0069 8.87252 9.84333 8.992 9.74811 9.13314C9.65785 9.26693 9.29451 9.69582 9.18373 9.82189C9.18226 9.821 9.19187 9.82543 9.14811 9.80377C9.01111 9.73596 8.84355 9.67831 8.59561 9.54752C8.34766 9.41673 8.0375 9.22359 7.69811 8.92439C7.19295 8.47967 6.83911 7.9207 6.72748 7.73314C6.735 7.7242 6.72659 7.73503 6.74248 7.71939C6.85657 7.60702 6.9583 7.47219 7.04373 7.37377C7.16487 7.23422 7.21832 7.1112 7.27623 6.99627C7.39165 6.76721 7.32738 6.51514 7.26061 6.38252C7.26522 6.39169 7.22449 6.30119 7.18061 6.19752C7.1366 6.09355 7.08051 5.95876 7.02061 5.81502C6.90079 5.52754 6.76703 5.20512 6.68748 5.01627C6.59377 4.79383 6.46699 4.63295 6.30123 4.55564C6.13548 4.47833 5.98903 4.50031 5.98311 4.50002C5.86482 4.49456 5.7344 4.49314 5.60561 4.49314ZM5.60561 5.13314C5.72898 5.13314 5.85061 5.13465 5.95248 5.13939C6.05728 5.14462 6.05076 5.14505 6.03061 5.13564C6.01013 5.1261 6.03791 5.12299 6.09748 5.26439C6.17537 5.44931 6.3098 5.7729 6.42998 6.06127C6.49008 6.20545 6.54632 6.34077 6.59123 6.44689C6.63615 6.55302 6.66049 6.61228 6.68873 6.66877L6.68936 6.67002C6.71705 6.72466 6.7146 6.68968 6.70498 6.70877C6.63745 6.84279 6.62829 6.8757 6.55998 6.95439C6.45598 7.07421 6.34989 7.20783 6.29373 7.26314C6.2446 7.31141 6.15596 7.38659 6.10061 7.53377C6.04517 7.68117 6.07105 7.88341 6.15998 8.03439C6.27839 8.23542 6.66859 8.87052 7.27498 9.40439C7.65687 9.74104 8.01264 9.96384 8.29686 10.1138C8.58107 10.2637 8.81256 10.3513 8.86436 10.3769C8.98736 10.4378 9.12179 10.485 9.27811 10.4663C9.43442 10.4475 9.56919 10.3527 9.65498 10.2556C9.76916 10.1262 10.1091 9.73818 10.2719 9.49939C10.2788 9.50183 10.2765 9.49994 10.3306 9.51939C10.3553 9.52819 10.6654 9.66731 10.9412 9.79877C11.2171 9.93023 11.4971 10.0669 11.5881 10.1119C11.7194 10.1769 11.7815 10.2192 11.7975 10.2194C11.7986 10.2475 11.7997 10.2781 11.7956 10.3244C11.7844 10.4529 11.75 10.6308 11.6812 10.8213C11.6475 10.9145 11.472 11.1068 11.2506 11.2469C11.0292 11.387 10.7598 11.4859 10.66 11.5006C10.3599 11.5449 10.0037 11.561 9.61248 11.4381C9.34121 11.353 9.00296 11.2428 8.56498 11.0563C7.67672 10.6775 6.92177 10.0328 6.38248 9.46502C6.11284 9.18112 5.8968 8.91683 5.74311 8.71689C5.5897 8.51733 5.52271 8.41348 5.46686 8.34002C5.36771 8.20891 4.75998 7.36382 4.75998 6.60314C4.75998 5.7981 5.1339 5.4824 5.33623 5.26439C5.44245 5.14994 5.55858 5.13314 5.60561 5.13314Z" fill="#303030"/>
                        </svg>

                        p(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') Whatsup

            div(class='tw-column-start tw-w-auto tw-gap-4')
                span(class='tw-text-lg [@media(min-width:1920px)]:tw-text-xl tw-font-normal tw-text-text/default') Контакты

                div(class='tw-column-start tw-w-auto tw-gap-3')
                    a(
                        href=''
                        class='tw-flex tw-items-center tw-gap-2'
                    )
                        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.56054 0.928991C7.56054 0.774282 7.622 0.625909 7.73139 0.516512C7.84079 0.407116 7.98916 0.345658 8.14387 0.345658C9.69045 0.347357 11.1732 0.962484 12.2668 2.05608C13.3604 3.14967 13.9755 4.63242 13.9772 6.17899C13.9772 6.3337 13.9157 6.48207 13.8064 6.59147C13.697 6.70087 13.5486 6.76232 13.3939 6.76232C13.2392 6.76232 13.0908 6.70087 12.9814 6.59147C12.872 6.48207 12.8105 6.3337 12.8105 6.17899C12.8091 4.94174 12.317 3.75556 11.4422 2.88069C10.5673 2.00583 9.38112 1.51371 8.14387 1.51232C7.98916 1.51232 7.84079 1.45087 7.73139 1.34147C7.622 1.23207 7.56054 1.0837 7.56054 0.928991ZM8.14387 3.84566C8.76271 3.84566 9.3562 4.09149 9.79379 4.52908C10.2314 4.96666 10.4772 5.56015 10.4772 6.17899C10.4772 6.3337 10.5387 6.48207 10.6481 6.59147C10.7575 6.70087 10.9058 6.76232 11.0605 6.76232C11.2152 6.76232 11.3636 6.70087 11.473 6.59147C11.5824 6.48207 11.6439 6.3337 11.6439 6.17899C11.6429 5.25102 11.2739 4.36132 10.6177 3.70514C9.96154 3.04896 9.07185 2.67992 8.14387 2.67899C7.98916 2.67899 7.84079 2.74045 7.73139 2.84985C7.622 2.95924 7.56054 3.10761 7.56054 3.26232C7.56054 3.41703 7.622 3.56541 7.73139 3.6748C7.84079 3.7842 7.98916 3.84566 8.14387 3.84566ZM13.4481 10.1101C13.7862 10.4491 13.976 10.9083 13.976 11.387C13.976 11.8657 13.7862 12.3249 13.4481 12.6639L12.9173 13.2758C8.13979 17.8497 -3.48604 6.22682 1.01729 1.43416L1.68812 0.850825C2.02749 0.52222 2.48258 0.340437 2.95495 0.344803C3.42732 0.34917 3.87897 0.539336 4.21221 0.874158C4.23029 0.892241 5.3112 2.29632 5.3112 2.29632C5.63194 2.63327 5.81048 3.08087 5.80972 3.54606C5.80896 4.01125 5.62896 4.45826 5.30712 4.79416L4.63162 5.64349C5.00545 6.55181 5.55508 7.3773 6.24892 8.07255C6.94276 8.76779 7.76715 9.31908 8.6747 9.69474L9.52929 9.01516C9.86523 8.69357 10.3122 8.51378 10.7772 8.51313C11.2423 8.51248 11.6897 8.69102 12.0265 9.01166C12.0265 9.01166 13.43 10.092 13.4481 10.1101ZM12.6455 10.9582C12.6455 10.9582 11.2495 9.88432 11.2315 9.86624C11.1113 9.74708 10.9489 9.68023 10.7797 9.68023C10.6104 9.68023 10.448 9.74708 10.3279 9.86624C10.3121 9.88257 9.13554 10.82 9.13554 10.82C9.05625 10.8831 8.96189 10.9245 8.86175 10.94C8.76161 10.9556 8.65915 10.9448 8.56446 10.9087C7.38872 10.4709 6.3208 9.78559 5.43303 8.89912C4.54525 8.01265 3.85836 6.94574 3.41887 5.77066C3.3799 5.67467 3.3672 5.57004 3.38207 5.46752C3.39693 5.365 3.43883 5.26829 3.50346 5.18733C3.50346 5.18733 4.44087 4.01016 4.45662 3.99499C4.57578 3.87482 4.64263 3.71243 4.64263 3.5432C4.64263 3.37397 4.57578 3.21158 4.45662 3.09141C4.43854 3.07391 3.36462 1.67682 3.36462 1.67682C3.24265 1.56745 3.08346 1.50888 2.91968 1.51311C2.75591 1.51734 2.59996 1.58405 2.48379 1.69957L1.81296 2.28291C-1.47821 6.24024 8.59654 15.7562 12.0645 12.479L12.5959 11.8665C12.7204 11.7511 12.7952 11.5919 12.8045 11.4224C12.8137 11.2529 12.7567 11.0865 12.6455 10.9582Z" fill="#1E1E1E"/>
                        </svg>

                        p(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') +7 999 202 4864

                    a(
                        href=''
                        class='tw-flex tw-items-center tw-gap-2'
                    )
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0833 0.916504H2.91667C2.1434 0.91743 1.40208 1.22502 0.855295 1.7718C0.308514 2.31858 0.00092625 3.05991 0 3.83317V10.8332C0.00092625 11.6064 0.308514 12.3478 0.855295 12.8945C1.40208 13.4413 2.1434 13.7489 2.91667 13.7498H11.0833C11.8566 13.7489 12.5979 13.4413 13.1447 12.8945C13.6915 12.3478 13.9991 11.6064 14 10.8332V3.83317C13.9991 3.05991 13.6915 2.31858 13.1447 1.7718C12.5979 1.22502 11.8566 0.91743 11.0833 0.916504ZM2.91667 2.08317H11.0833C11.4326 2.08386 11.7737 2.18905 12.0627 2.38522C12.3517 2.58139 12.5754 2.85956 12.705 3.18392L8.23783 7.65167C7.90908 7.9791 7.46399 8.16294 7 8.16294C6.53601 8.16294 6.09092 7.9791 5.76217 7.65167L1.295 3.18392C1.42459 2.85956 1.64827 2.58139 1.93728 2.38522C2.22628 2.18905 2.56738 2.08386 2.91667 2.08317ZM11.0833 12.5832H2.91667C2.45254 12.5832 2.00742 12.3988 1.67923 12.0706C1.35104 11.7424 1.16667 11.2973 1.16667 10.8332V4.70817L4.93733 8.4765C5.48487 9.02265 6.22665 9.32936 7 9.32936C7.77335 9.32936 8.51513 9.02265 9.06267 8.4765L12.8333 4.70817V10.8332C12.8333 11.2973 12.649 11.7424 12.3208 12.0706C11.9926 12.3988 11.5475 12.5832 11.0833 12.5832Z" fill="#2C2C2C"/>
                        </svg>

                        p(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') store@unostoria.ru

                    a(
                        href=''
                        class='tw-flex tw-items-center tw-gap-2'
                    )
                        <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 0.833252C6.01664 0.833252 4.5666 1.27312 3.33323 2.09723C2.09986 2.92134 1.13856 4.09268 0.570907 5.46313C0.00324965 6.83357 -0.145275 8.34157 0.144114 9.79643C0.433503 11.2513 1.14781 12.5877 2.1967 13.6366C3.2456 14.6854 4.58197 15.3998 6.03683 15.6891C7.49168 15.9785 8.99968 15.83 10.3701 15.2623C11.7406 14.6947 12.9119 13.7334 13.736 12.5C14.5601 11.2667 15 9.81661 15 8.33325C14.9979 6.34479 14.207 4.43838 12.8009 3.03233C11.3949 1.62627 9.48847 0.835403 7.5 0.833252ZM7.5 14.5833C6.26387 14.5833 5.0555 14.2167 4.02769 13.5299C2.99988 12.8432 2.1988 11.8671 1.72576 10.725C1.25271 9.58299 1.12894 8.32632 1.3701 7.11394C1.61125 5.90156 2.20651 4.78791 3.08059 3.91383C3.95466 3.03976 5.06831 2.4445 6.28069 2.20334C7.49307 1.96219 8.74974 2.08596 9.89178 2.55901C11.0338 3.03205 12.0099 3.83313 12.6967 4.86094C13.3834 5.88875 13.75 7.09712 13.75 8.33325C13.7482 9.9903 13.0891 11.579 11.9174 12.7507C10.7457 13.9224 9.15705 14.5814 7.5 14.5833Z" fill="#1E1E1E"/>
                            <path d="M7.94812 3.99763C7.5877 3.93196 7.21726 3.9463 6.863 4.03965C6.50873 4.133 6.17932 4.30307 5.89806 4.53782C5.6168 4.77257 5.39057 5.06627 5.23538 5.39813C5.08019 5.72999 4.99984 6.0919 5 6.45825C5 6.62401 5.06585 6.78298 5.18306 6.90019C5.30027 7.0174 5.45924 7.08325 5.625 7.08325C5.79076 7.08325 5.94973 7.0174 6.06694 6.90019C6.18415 6.78298 6.25 6.62401 6.25 6.45825C6.24984 6.27436 6.29026 6.0927 6.36837 5.92623C6.44648 5.75975 6.56036 5.61256 6.70189 5.49514C6.84341 5.37773 7.0091 5.29299 7.18714 5.24697C7.36518 5.20094 7.55118 5.19477 7.73187 5.22888C7.97877 5.2768 8.20578 5.39724 8.38391 5.57481C8.56203 5.75237 8.68317 5.979 8.73187 6.22575C8.78106 6.48475 8.7471 6.75268 8.63485 6.99121C8.52259 7.22975 8.3378 7.42669 8.10687 7.55388C7.72448 7.77542 7.40849 8.09545 7.19183 8.48063C6.97517 8.86581 6.86576 9.30204 6.875 9.74388V10.2083C6.875 10.374 6.94085 10.533 7.05806 10.6502C7.17527 10.7674 7.33424 10.8333 7.5 10.8333C7.66576 10.8333 7.82473 10.7674 7.94194 10.6502C8.05915 10.533 8.125 10.374 8.125 10.2083V9.74388C8.11716 9.52639 8.16675 9.31066 8.26879 9.11843C8.37083 8.92621 8.52171 8.76425 8.70625 8.64888C9.15907 8.40017 9.52372 8.01729 9.75005 7.55288C9.97639 7.08847 10.0533 6.56535 9.97017 6.05546C9.88706 5.54556 9.64803 5.07393 9.28594 4.70544C8.92385 4.33694 8.45648 4.08967 7.94812 3.99763Z" fill="#1E1E1E"/>
                            <path d="M8.125 12.0833C8.125 11.7381 7.84518 11.4583 7.5 11.4583C7.15482 11.4583 6.875 11.7381 6.875 12.0833C6.875 12.4284 7.15482 12.7083 7.5 12.7083C7.84518 12.7083 8.125 12.4284 8.125 12.0833Z" fill="#1E1E1E"/>
                        </svg>

                        p(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') info@unostoria.ru

            div(class='tw-column-start tw-w-auto tw-gap-4')
                span(class='tw-text-lg [@media(min-width:1920px)]:tw-text-xl tw-font-normal tw-text-text/default') Информация

                div(class='tw-column-start tw-w-auto tw-gap-3')
                    span(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') ИП Рога и копыта
                    span(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') ИНН 780485283879124
                    span(class='tw-text-base [@media(min-width:1920px)]:tw-text-lg tw-font-light tw-text-neutral/default') ОГРНИП 780485283879124
